*{
    box-sizing: border-box;
}

.head{
  background-image: linear-gradient(rgb(97, 174, 204, rgb)(rgb(108, 108, 156);
  text-align: center;
  color: rgb(224, 214, 214);
  border-radius: 10px;
  padding: 1 0 1 0;
}

body {
    text-align: center;
    border-style: solid;
    border: 3 3 3 3;
    border-radiusL 10px;
    margin-top: 5px;
}

question {
    text-align: center;
    border-style: solid;
    border: 3 3 3 3;
    border-radiusL 10px;
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    background-color:rgb(224, 214, 214);
    padding-bottom: 5px;
}